/* Asteriks to set a default styling to the entire HTML page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: bisque;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.score_area {
    display:flex;
    column-gap: 7rem;
}
.score_area

.game_area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.decision p {
    text-align: center;
    margin: 20px 0;
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    background: bisque;
}

.buttons button {
    border: none;
    font-size: 1rem;
    padding: 1px 7px;
    border-radius: 5px;
}