/* Asteriks to set a default styling to the entire HTML page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: bisque;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.score_area {
    display:flex;
    column-gap: 7rem;
}
.score_area

.game_area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.decision h3 {
    text-align: center;
    margin: 20px 0;
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    background: bisque;
}

.buttons button {
    border: none;
    font-size: 1rem;
    padding: 1px 7px;
    border-radius: 5px;
}

.player_choice img {
    width: 7rem;
}

.computer_choice img {
    width: 7rem;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .container {
        padding: 1rem;
    }

    .score_area {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .buttons {
        padding: 5px;
    }

    .buttons button {
        font-size: 0.8rem;
        padding: 3px 7px;
    }
}